Param(
  data_files: Some([("m2.txt","m2")]),
  actions: [
    (Moments(["nb"]), TotalInterval(from: 0, to: 3, total: 1000)),
    //(Window(["nb"]), TotalInterval(from: 0, to: 3, total: 100)),
    //(Correlation(["nb"],Radial), At(3)),
  ],
  config: (t_0: Some(0), t_max: 3, dim: D2((32,10),(1000,0))),
  integrator: Explicit(dt: 1e-3, scheme: RK4),
  default_boundary: Some("periodic"),
  noises: Some([Normal(name: "xi")]),
  //fields: [(name: "nb", boundary: "periodic")],
  symbols: "
    D = 1
    T = 0.15
    nc = 0.333333
    ivnc = 3
    nb' = D*m2(T)*ivnc*#^2nb + sqrt(2*D*nc*ivdx/dt)*# xi
    // nb'c = max(nb,-10)
    *nb = nc",
)
