Param(
  actions: [(RawData(["T00","T01","e","ut","ux"]), Interval(from: 0, to: 5, every: 0.05))],
  config: (t_max: 5.1, dim: D1((128,10))),
  integrator: Implicit(dt_max: 1e-1, er: 1e-2, scheme: RadauIIA2),
  symbols: "
      p(e) := e/3.0
      pp(e) := 1.0/3.0
      vk(ut,uk) := fabs(uk/ut)
      eigk(e,ut,uk) := (fabs(ut*uk*(1.0-pp(e)*pp(e)))+sqrt((ut*ut-uk*uk-(ut*ut-uk*uk-1)*pp(e)*pp(e))*pp(e)*pp(e)))/(ut*ut-(ut*ut-1)*pp(e)*pp(e))
      eig'-1> = fmax(eigk(e,ut,ux),vk(ut,ux)) 
      T10(e,ut,ux) := (e+p(e))*ut*ux
      T11(e,ut,ux) := (e+p(e))*ux*ux + p(e)
      T00' = -#KT_x[eig](T10(e,ut,ux))
      T01' = -#KT_x[eig](T11(e,ut,ux))
      e'c = fmax(e,1e-10)
      e'| = T00 - T01*T01/(T00 + p(e))
      ut'| = sqrt((T00+p(e))/(e+p(e)))
      ut'c = fmax(ut,1)
      ux'| = T01/(ut*(e+p(e)))
      *e := x<x_size/2?10:1
      *T00 = e
      *ut = 1
      *T01 = 0
      *ux = 0",
)
